<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="menu-header">
      <h1>Menú</h1>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">🏠 Inicio</a>
      <a mat-list-item routerLink="/regalos" routerLinkActive="active">🎁 Regalos</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">ℹ️ Nosotras</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
<div class="main-content">
    <div class="center-content">
        <h2>Hola de nuevo, corazón</h2>
        <p>Aquí encontrarás los presentes que nos hemos regalado en todo este tiempo</p>
    </div>
    
</div>
</mat-sidenav-container>


