<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened"
               (opened)="onOpened()" (closed)="onClosed()">
    <!-- Tu menú -->
    <mat-nav-list class="menu-list">
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
      </a>
      <a mat-list-item routerLink="/regalos" routerLinkActive="active">
        <mat-icon>card_giftcard</mat-icon>
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">
        <mat-icon>info</mat-icon>
      </a>
      <a mat-list-item (click)="cerrarSesion()">
        <mat-icon>logout</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <div class="main-content">
      <!-- Botón para abrir/cerrar -->
    <button mat-icon-button (click)="sidenav.toggle()" class="toggle-btn">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="center-content">
        <h2>Hola de nuevo, corazón</h2>
        <p>Aquí encontrarás los presentes que nos hemos regalado en todo este tiempo</p>
    </div>
    
</div>
</mat-sidenav-container>


