<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened"
               (opened)="onOpened()" (closed)="onClosed()">
    <!-- Tu menú -->
    <mat-nav-list class="menu-list">
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
      </a>
      <a mat-list-item routerLink="/regalos" routerLinkActive="active">
        <mat-icon>card_giftcard</mat-icon>
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">
        <mat-icon>info</mat-icon>
      </a>
      <a mat-list-item (click)="cerrarSesion()">
        <mat-icon>logout</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <div class="main-content">
      <!-- Botón para abrir/cerrar -->
    <button mat-icon-button (click)="sidenav.toggle()" class="toggle-btn">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="parent">
      <div class="div1"> 
        <mat-card class="gift-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button matButton>LIKE</button>
            <button matButton>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="div2"> 
        <h1>Hola</h1>
      </div>
      <div class="div3"> 
        <h1>Hola</h1>
      </div>
      <div class="div4"> 
        <h1>Hola</h1>
      </div>
    </div>
  </div>
</mat-sidenav-container>


