mat-sidenav-content {
  background: transparent !important;
  padding: 0 !important; /* eliminamos padding que mete Material */
  margin: 0;
}
mat-sidenav {
  width: auto;
  background: linear-gradient(180deg, rgba(123, 164, 186, 0.86) 0%, #1E4F8E 100%);

}


.sidenav-container {

  background: linear-gradient(180deg, rgba(123, 164, 186, 0.86) 0%, #1E4F8E 100%);
  color: white;
}


.sidenav {
  width: 80px; /* o el tamaño que quieras */
  background: rgba(255, 255, 255, 0.1); /* semi transparente para que no tape tu diseño */
  backdrop-filter: blur(6px);
  border-right: 1px solid rgba(255,255,255,0.2);
}



.menu-header {
  padding: 15px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #444444;
  color: white;
}

.toggle-btn {
  margin-top: 9px; /* Ajusta el número según lo que necesites */
}


mat-icon {
  font-size: 20px;
  vertical-align: middle;
  color: #0d2d5e;
}


mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


mat-nav-list a.active {
  border-radius: 5px;
}

mat-sidenav-content {
  padding: 20px;
}

.logout-button {
  margin-top: auto; /* empuja el botón al final */
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}




.main-content {
  height: 100vh;
  background: linear-gradient(180deg, rgba(123, 164, 186, 0.86) 0%, #1E4F8E 100%);
  display: flex;
  flex-direction: column;
}

.main-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/icons/JELLYFISH.png');
  opacity: 0.3;
  z-index: 0;
}


.center-content h2 {
  font-size: 2rem;
  color: #2C2C2C;
  margin-bottom: 20px;
  text-align: center;
}

.center-content p {
  font-size: 1.2rem;
  color: #2C2C2C;
  text-align: center;
font-family: Century Gothic;

}