:host {
  height: 100vh;
  background: linear-gradient(180deg, rgba(123, 164, 186, 0.86) 0%, #1E4F8E 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(30, 79, 142, 0.6);
  text-align: center;
  width: 100%;
  max-width: 400px;
  transition: all 0.3s ease;
}

.intro-box {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  height: 200px;
  font-size: 1.7rem;
  color: white;
  font-family: Century Gothic, sans-serif;
}


.credentials-display {
  color: white;
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 20px;
}

.credentials-display p {
  margin: 0;
  padding: 5px 0;
}

.credentials-display button {
  margin-top: 20px;
}

.credentials-box input,
.form-box input {
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #1E4F8E;
  width: 95%;
}
.form-box form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


button {
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #1E4F8E;
  background-color: transparent;
  border: 2px #ffffff00;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #3b5f8ee1;
  color: #ffffff;
}

.stepper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.step-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.step-dot.active {
  background-color: #ffffff;
  box-shadow: 0 0 5px #ffffff;
}
