<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened"
               (opened)="onOpened()" (closed)="onClosed()">
    <!-- Tu menú -->
    <mat-nav-list class="menu-list">
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
      </a>
      <a mat-list-item routerLink="/regalos" routerLinkActive="active">
        <mat-icon>card_giftcard</mat-icon>
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">
        <mat-icon>info</mat-icon>
      </a>
      <a mat-list-item (click)="cerrarSesion()">
        <mat-icon>logout</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content class="main-content">
    <!-- Botón para abrir/cerrar -->
    <div class="countup-box">
      <div class="time-card-grid">
        <div class="time-card">
          <strong>{{ days }}</strong>
          <span>Días</span>
        </div>
        <div class="time-card">
          <strong>{{ hours }}</strong>
          <span>Horas</span>
        </div>
        <div class="time-card">
          <strong>{{ minutes }}</strong>
          <span>Minutos</span>
        </div>
        <div class="time-card">
          <strong>{{ seconds }}</strong>
          <span>Segundos</span>
        </div>
      </div>
    </div>

    <div>
        <main class="timeline-wrapper">
          <div class="svg-timeline">
            <svg width="8px" height="100%" viewBox="0 0 8 100%">
              <line id="timeline" fill="none" stroke="#1E4F8E" stroke-width="8" x1="4" y1="0" x2="4" y2="100%"/>
            </svg>
          </div>

            <ol class="timeline clearfix">
              <li *ngFor="let evento of timeline; let i = index" 
                  [ngClass]="{'timeline__item': true, 'right': i % 2 !== 0}">
                <h3 class="timeline__day">{{ evento.titulo }}</h3>
                <small class="timeline__date">{{ evento.fecha | date:'dd/MM/yyyy' }}</small>
                <p class="timeline__day-sum">{{ evento.descripcion }}</p>
              </li>
            </ol>

        </main>
    </div>



  </mat-sidenav-content>
</mat-sidenav-container>
